<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blabble</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<style>

.newEntryButton {
    background-color: #e7e7e7; /* Grey */
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 2vw;
  width: 65%;
height: 50%;
 }
  .newEntryButton:link {
    background-color: grey;
    text-decoration: none;
    color: black;

  }
  .newEntryButton:hover {
    background-color: grey;
    text-decoration: none;
    color: black;

  }



.galleryButton {
  background-color: #e7e7e7; /* Grey */
  border: none;
    color: black;
  display: inline-block;
  text-decoration: none;
  width: 25%;   
  font-size: 1.2vw;
    border-radius: 20%;
  }

  .galleryButton:link {
    background-color: grey;
    text-decoration: none;
    color: black;

  }
  .galleryButton:hover {
    background-color: grey;
    text-decoration: none;
    color: black;
  }

  .screenContainer {
  margin-left:25%;
    height: 40%;
    width: 25%;
    text-align: center;
  align-content: center; 
  }

</style>

<div class="screenContainer">
 <div class="col-md-12">&nbsp;</div>
 <div class="col-md-12">&nbsp;
    <a href="Entry Page.html" class="newEntryButton" role="button">NEW ENTRY<br/>+
    </a>
 </div>

<div class="col-md-12">&nbsp;</div>

<div class="col-md-12">&nbsp;
  <a href="GalleryPage.html" class="galleryButton" role="button"><br/>
  Gallery
    </a>

    <a href="CalendarPage.html" class="galleryButton" role="button"><br/>Calendar
    </a>
  
    <a href="TagsPage.html" class="galleryButton" role="button"><br/>Tags
    </a>
  </div>
  
</div>

</body>
</html>
