<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="../css/styling.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script
<title>New Entry</title>

<!-- light grey bg for large screens -->

<body class="w3-light-grey">

  <!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content,-->
  <div class="w3-content w3-white " style="max-width:800px; height:500px; max-height:800px">
    <!-- Grid

<div class="w3-card-4">
  <div class="w3-row">
    <div class="col-xs-1">
      <a href="Home Page.html">  </a>
     </div>
  </div> -->

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity w3-padding-small">
      <div class="w3-padding-small">
        <div class="w3-bar w3-border">

          <button class="w3-bar-item w3-button" onclick="goBack()">back</button>
          <a href="http://localhost:3000" class="w3-bar-item w3-button ">home</a>
        </div>
      </div>

    </header>
    <div class="w3-padding" style="margin-top:-30px;">
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-cell-row">
          <div class="timer w3-cell-middle w3-margin">
						<img class="timergraphic" src="middle.png">
						<div class="w3-bar">
              <div class="timercontainer">
                <div class="setters">
                  <div class="minutes-set">
                    <button data-setter="minutes-plus">+</button>
                    <button data-setter="minutes-minus">-</button>
                  </div>
                </div>
                <div class="circle"> <svg width="100" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(110,110)">
                    <circle r="100" class="e-c-base"/>
                    <g transform="rotate(-90)">
                      <circle r="100" class="e-c-progress"/>
                      <g id="e-pointer">
                        <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
                      </g>
                    </g>
                  </g>
                  </svg> </div>
                <div class="controlls">
                  <div class="display-remain-time">05:00</div>
                  <button class="play" id="pause"></button>
                </div>
              </div>
            </div>
					</div>



      <!-- FORM -->
      <div class="w3-card-4 w3-margin w3-white w3-padding-small">

        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" placeholder="Write here, right now..." rows="5"></textarea>
        </div>

      </div><!-- END FORM -->

      <!-- TAG AND SAVE -->
      <div class="w3-row w3-card-4 w3-padding-small w3-white">
        <div class="col-xs-10">
          <span class="w3-tag">Happy</span>
					<span class="w3-tag">Work</span>
          <button type="button mx-auto" class="btn btn-default" id="myBtn" onclick="download()">Save</button>
          <!-- Trigger/Open The Modal -->

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Draft Saved!</p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div><!-- END CONTENT-->

  <!-- END BODY -->
</body>




</html>
